#contact{
    background-color: whitesmoke;
    letter-spacing: 2px;
    }
  #contact a{
    color: #fff;
    text-decoration: none;
  }
  
  
  @media (max-width: 575.98px) {
  
    #contact{padding-bottom: 800px;}
    #contact .maps iframe{
      width: 100%;
      height: 450px;
    }
   }
  
  
  @media (min-width: 576px) {
  
     #contact{padding-bottom: 800px;}
  
     #contact .maps iframe{
       width: 100%;
       height: 450px;
     }
   }
  
  @media (min-width: 768px) {
  
    #contact{padding-bottom: 350px;}
  
    #contact .maps iframe{
      width: 100%;
      height: 850px;
    }
  }
  
  @media (min-width: 992px) {
    #contact{padding-bottom: 200px;}
  
     #contact .maps iframe{
       width: 100%;
       height: 700px;
     }
  }
  
  
  #author a{
    color: #fff;
    text-decoration: none;
      
  }
  @media (max-width: 375.98px) {
  
    iframe{
      width: 50%;
      height: 450px;
    }
   }
  
  
  @media (min-width: 376px) {
  
  
     iframe{
       width: 50%;
       height: 450px;
     }
   }
  
  @media (min-width: 768px) {
  
  
     iframe{
      width: 80%;
      height: 850px;
    }
  }
  
  @media (min-width: 992px) {
  
      iframe{
       width: 100%;
       height: 700px;
     }
  }