body {
    font-family: 'Oswald', sans-serif;
    background-color: whitesmoke;

}

.img-log {
    width:200px !important;
}

.alert {
    -webkit-animation: fade-out 0.5s linear 5.5s both;
    animation: fade-out 0.5s linear 5.5s both;
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}