body{
    font-family: "Oswald", sans-serif;
    background-color: whitesmoke;
}

.img-fluid {        
    height: 290px;
    width: 400px !important;
    box-shadow: gray 0px 4px 4px;
    text-align: center;
    z-index: 200;
}

.img-thumb {
    height: 500px !important;

}

.img-fluid:hover {
    background-color: #FF7200;
}

.date ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    -webkit-transition: .4s;
    transition: .4s;

}

.filtre{
    display: inline !important;
}

.date {

    margin-bottom: 5px;
    border-radius: 1px;
    margin-left: 5px;
    opacity: 0.85;
    position: absolute;
    bottom: 0;
    background-color: #FF7200;
    color: #fff;
    font-size: 15px;
    padding: 5px 12px;
}

.supprimer{
    float: left !important;
}